<div *ngIf="combiantion.fromEncoding == TypeOfCoding.binary && combiantion.toEncoding == TypeOfCoding.gray"
  class="mx-5">
  <p>{{"learningSection.binaryGray" | translate}}</p>
</div>
<div *ngIf="combiantion.fromEncoding == TypeOfCoding.gray && combiantion.toEncoding == TypeOfCoding.binary"
  class="mx-5">
  <p>{{"learningSection.grayBinary" | translate}}</p>
</div>
<div *ngIf="combiantion.fromEncoding == TypeOfCoding.number && combiantion.toEncoding == TypeOfCoding.bcd" class="mx-5">
  <p>{{"learningSection.numberBCD" | translate}}</p>
</div>
<div *ngIf="combiantion.fromEncoding == TypeOfCoding.bcd && combiantion.toEncoding == TypeOfCoding.number" class="mx-5">
  <p>{{"learningSection.BCDNumber" | translate}}</p>
</div>
<div *ngIf="combiantion.fromEncoding == TypeOfCoding.number && combiantion.toEncoding == TypeOfCoding.sevenSegment"
  class="mx-5">
  <ng-container *ngTemplateOutlet="sevenSegmentDisplay"></ng-container>
  <p>{{"learningSection.7segmentNumber" | translate}}</p>
</div>
<div *ngIf="combiantion.fromEncoding == TypeOfCoding.sevenSegment && combiantion.toEncoding == TypeOfCoding.number"
  class="mx-5">
  <ng-container *ngTemplateOutlet="sevenSegmentDisplay"></ng-container>
  <p>{{"learningSection.number7segment" | translate}}</p>
</div>

<ng-template #sevenSegmentDisplay>
  &nbsp;--A-- <br>
  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| <br>
  F&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;B <br>
  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| <br>
  &nbsp;--G-- <br>
  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| <br>
  E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;C <br>
  |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| <br>
  &nbsp;--D--
</ng-template>