<section #stepByStepElement>
    <div *ngIf="combiantion.fromEncoding == TypeOfCoding.text || combiantion.toEncoding == TypeOfCoding.text; else other" class="mx-5">
        <p>{{"stepByStepSection.beforeCoding" | translate}} {{codingService.message}}</p>
        <p>{{"stepByStepSection.singleLabel" | translate}}</p>
        <div *ngIf="combiantion.fromEncoding == TypeOfCoding.ascii  || combiantion.toEncoding == TypeOfCoding.ascii" >
            <ng-container *ngTemplateOutlet="tableASCII"></ng-container>
        </div>
        <div *ngIf=" combiantion.toEncoding == TypeOfCoding.utf8 || combiantion.fromEncoding == TypeOfCoding.utf8" >
           <ng-container *ngTemplateOutlet="tableUtf8"></ng-container>
        </div>
        <div *ngIf="combiantion.toEncoding == TypeOfCoding.iso8859 || combiantion.fromEncoding == TypeOfCoding.iso8859 " >
         <ng-container *ngTemplateOutlet="tableISO"></ng-container>
        </div>
        <p>{{"stepByStepSection.afterCoding" | translate}} {{codingService.convert(codingService.message,codingService.combinationCoding)}}</p>
    </div>
</section>
<ng-template #other>
    <p>{{"stepByStepSection.beforeCoding" | translate}} {{codingService.message}}</p>
    <p>{{"stepByStepSection.moreThanSingleLabel" | translate}}</p>
    <div *ngIf="combiantion.fromEncoding == TypeOfCoding.ascii  || combiantion.toEncoding == TypeOfCoding.ascii" >
        <ng-container *ngTemplateOutlet="tableASCII; context: {firstTable: combiantion.fromEncoding == TypeOfCoding.ascii}"></ng-container>
    </div>
    <div *ngIf="combiantion.toEncoding == TypeOfCoding.iso8859 || combiantion.fromEncoding == TypeOfCoding.iso8859 " >
        <ng-container *ngTemplateOutlet="tableISO;context: {firstTable: combiantion.fromEncoding == TypeOfCoding.iso8859 }"></ng-container>
       </div>
    <div *ngIf=" combiantion.toEncoding == TypeOfCoding.utf8 || combiantion.fromEncoding == TypeOfCoding.utf8" >
       <ng-container *ngTemplateOutlet="tableUtf8; context:{firstTable: combiantion.fromEncoding == TypeOfCoding.utf8}"></ng-container>
    </div>
    <p>{{"stepByStepSection.afterCoding" | translate}} {{codingService.convert(codingService.message,codingService.combinationCoding)}}</p>
</ng-template>
<ng-template #tableUtf8 let-firstTable="firstTable">
    <p class="text-center">{{"learningSection.tableLabels.tableUtf8" | translate}}</p>
    <div class="my-5" style="overflow-x: auto;">
        <table class="d-flex" style="max-height: 300px;">
          <tr>
            <td style="min-width: 50px;">{{"learningSection.tableLabels.code" | translate}}</td>
        <td style="min-width: 50px;">{{"learningSection.tableLabels.char" | translate}}</td>
          </tr>
          <tr  *ngFor="let char of utf8Table; let i = index" style="min-width: 60px;"  [ngClass]="{ 'finded-encode-value': findEncodeCharacter(i), 'finded-coded-value': findCodedCharacter(i) && !(this.combiantion.fromEncoding ==TypeOfCoding.text  || this.combiantion.toEncoding ==TypeOfCoding.text) && !firstTable}">
            <td>{{char.codePoint}}: </td>
            <td>{{char.character}}</td>
          </tr>
        </table>
      </div>
  </ng-template>
  <ng-template #tableISO let-firstTable="firstTable">
    <p class="text-center">{{"learningSection.tableLabels.tableIso" | translate}}</p>
    <div class="my-5" style="overflow-x: auto;">
      <table class="d-flex" style="max-height: 300px;">
        <tr>
          <td style="min-width: 50px;">{{"learningSection.tableLabels.code" | translate}}</td>
        <td style="min-width: 50px;">{{"learningSection.tableLabels.char" | translate}}</td>
        </tr>
        <tr *ngFor="let char of isoCodes; let i = index" style="min-width: 60px;"  [ngClass]="{ 'finded-encode-value': findEncodeCharacter(i), 'finded-coded-value': findCodedCharacter(i) && !(this.combiantion.fromEncoding ==TypeOfCoding.text  || this.combiantion.toEncoding ==TypeOfCoding.text)  && !firstTable }">
            <td>{{char.codePoint}}: </td>
            <td>{{char.character}}</td>
        </tr>
      </table>
      </div>
  </ng-template>
  <ng-template #tableASCII let-firstTable="firstTable">
    <p class="text-center">{{"learningSection.tableLabels.tableAscii" | translate}}</p>
    <div class="my-5" style="overflow-x: auto;">
      <table class="d-flex" style="max-height: 300px;">
        <tr>
          <td style="min-width: 50px;">{{"learningSection.tableLabels.code" | translate}}</td>
          <td style="min-width: 50px;">{{"learningSection.tableLabels.char" | translate}}</td>
        </tr>
        <tr  *ngFor="let char of asciiTable; let i = index" style="min-width: 60px;" 
        [ngClass]="{ 'finded-encode-value': findEncodeCharacter(i) , 'finded-coded-value': findCodedCharacter(i) && !(this.combiantion.fromEncoding ==TypeOfCoding.text  || this.combiantion.toEncoding ==TypeOfCoding.text)  && !firstTable}">
            <td>{{char.codePoint}}: </td>
            <td>{{char.character}}</td>
        </tr>
      </table>
      </div>
  </ng-template>
