<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <section class="d-flex align-center justify-content-center flex-column flex-md-row">
    <div class="d-flex flex-column  me-4">
      <p-dropdown  
        optionLabel="name" 
        formControlName="selectedEncode" 
        (onChange)="changeCodedList(form.get('selectedEncode')?.value)"
        [class]=" submit  && form.get('selectedEncode')?.invalid ? 'ng-dirty ng-invalid my-3' : 'my-3'"
        [autoDisplayFirst]="false" 
        [options]="dropdownCodeList" 
        [showClear]="true" 
        [placeholder]="'encodingMessagesSection.dropdownPlaceholder' | translate | titlecase "> </p-dropdown>
      <textarea pInputTextarea
        formControlName="encodeMessage"
        rows="10" cols="80" 
        [class]="form.get('encodeMessage')?.invalid  && submit? 'ng-dirty ng-invalid' : ''" 
        [autoResize]="true"  
        [placeholder]="'encodingMessagesSection.encodeTextareaPlaceholder' | translate | titlecase"></textarea>
    </div>
    
    <p-button (onClick)="switchMessages()" [disabled]="!submit && !form.get('codedMessage')?.valid && !(!!form.get('selectedEncode')?.value && !!form.get('selectedCoded')?.value)" class="change-button mt-5" icon="pi pi-arrow-right-arrow-left" size="large" ></p-button>
    <div class="d-flex flex-column ms-4">
      <p-dropdown 
        [class]="form.get('selectedCoded')?.invalid  && submit? 'ng-dirty ng-invalid my-3' : 'my-3'"
        optionLabel="name" 
        (onChange)="selectedCodedChange()"
        formControlName="selectedCoded" 
        [autoDisplayFirst]="false"
        [options]="dropdownEncodeList" 
        [showClear]="true" 
        [placeholder]="'encodingMessagesSection.dropdownPlaceholder' | translate | titlecase"></p-dropdown>
      <textarea pInputTextarea
        formControlName="codedMessage"
        rows="10" 
        cols="80" 
        [readonly]="true" 
        [autoResize]="true" ></textarea>
    </div>
  </section>
  <div class="submit mt-5">
    <p-button 
    type="submit" 
    [disabled]="validationBeforeSubmit()"
    [label]="'encodingMessagesSection.codeButton' | translate | titlecase" 
    size="large" 
    severity="success"></p-button>
</div>
</form>

<div #result>
  <div class="result">
    <p>{{"result.inputData" | translate | titlecase}}: {{form.get("encodeMessage")?.value}}</p>
    <p>{{"result.result" | translate | titlecase}}: {{form.get("codedMessage")?.value}}</p>
  </div>
</div>
