<section class="menu d-flex justify-content-center flex-column flex-md-row">
    <p-button size="large" [disabled]="codingService.disableLearning" [label]="'menuButtons.learning' | translate | uppercase" (onClick)="open('learning')"></p-button>
    <p-button size="large" [disabled]="codingService.disableStepByStep" [label]="'menuButtons.stepByStep' | translate | uppercase" (onClick)="open('stepByStep')"></p-button>
    <p-button size="large" [disabled]="codingService.disablePDF" [label]="'menuButtons.pdf' | translate | uppercase" (onClick)="open('pdf')"></p-button>
</section>